{% extends '@FOSUser/layout.html.twig' %}

{% block fos_user_content %}
    <div class="form-signin-container">
        <div class="row justify-content-center login-form-nomargin no-margin">
            <div class="col-lg-4 col-lg-offset-4 col-sm-12 login-form-column no-padding">
                <h1 class="text-center login-title">Sign in to continue to VaderLab</h1>
                <div class="account-wall">
                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                         alt="">
                    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}

                        <div class="form-label-group">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="input-usercred"
                                    placeholder="{{ 'Email or mobile phone'|trans }}"
                                    value=""
                                    name="_username"
                                    required
                                    autofocus
                                    autocomplete="username"
                            >
                            <label for="input-usercred">{{ 'Email or mobile phone'|trans }}</label>
                        </div>
                        <div class="form-label-group">
                            <input
                                    type="password"
                                    id="input-passwd"
                                    class="form-control"
                                    placeholder="{{ 'Password'|trans }}"
                                    name="_password"
                                    value=""
                                    required
                                    autocomplete="current-password"
                            >
                            <label for="input-passwd">{{ 'Password'|trans }}</label>
                        </div>

                        {% if error %}
                            <p class="text-center text-danger">
                                {{ error.messageKey|trans(error.messageData) }}
                            </p>
                        {% endif %}

                        <input type="submit"
                                class="btn btn-lg btn-primary btn-block btn-raised"
                                name="_submit"
                                value="{{ 'Sign in'|trans }}" />
                        <br>

                        <div class="checkbox">
                            <label>
                                <input name="_remember_me" value="on" type="checkbox"> {{ 'Remember me'|trans }}
                            </label>
                        </div>

                        <a href="{{ path('fos_user_resetting_request') }}" class="pull-right need-help">
                            {{ 'Forgot password ?'|trans }}
                        </a><span class="clearfix"></span>
                    </form>
                </div>
                <a href="{{ path('fos_user_registration_register') }}" class="text-center new-account">
                    {{ 'Sign up'|trans }}
                </a>
            </div>
        </div>
    </div>

{% endblock %}
