{% extends '@FOSUser/layout.html.twig' %}

{% block fos_user_content %}

    <div class="form-signin-container">
        <div class="row justify-content-center login-form-nomargin no-margin">
            <div class="col-lg-4 col-lg-offset-4 col-sm-12 login-form-column no-padding">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'autocomplete': 'off', 'class': 'form-register fos_user_registration_register'}}) }}

                <div class="form-label-group">
                {{ form_widget(form.email, { attr: { placeholder: 'Email'|trans } }) }}
                    <label for="fos_user_registration_form_email">{{ 'Email'|trans }}</label>
                </div>
                <div class="form-label-group">
                {{ form_widget(form.plainPassword.first, { attr: { placeholder: 'Enter new password'|trans } }) }}
                    <label for="fos_user_registration_form_plainPassword_first">{{ 'Enter new password'|trans }}</label>
                </div>
                <div class="form-label-group">
                {{ form_widget(form.plainPassword.second, { attr: { placeholder: 'Repeat password'|trans } }) }}
                    <label for="fos_user_registration_form_plainPassword_second">{{ 'Repeat password'|trans }}</label>
                </div>
                {% if form._token %}
                    {{ form_widget(form._token) }}
                {% endif %}

                <div>
                    <input class="btn btn-raised btn-primary" type="submit" value="{{ 'Complete sign up'|trans }}" />
                </div>
                {{ form_end(form) }}

                <a href="{{ path('fos_user_security_login') }}"> {{ 'Sign in'|trans }} </a>

            </div>
        </div>
    </div>

{% endblock %}